<!--
  Generated template for the DietChartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="YouTube">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Diet Chart</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>

  <ion-item>
    <ion-label>Weight</ion-label>
    <ion-input type="number" [(ngModel)]= wieght ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Height</ion-label>
    <ion-input type="number" [(ngModel)]= hieght></ion-input>
  </ion-item>

  <ion-chip>
    <ion-label   >Your BMI: {{checkbms() }} </ion-label>
  </ion-chip>


<button ion-button color="YouTube" (click)="pushDailyDietPage()" block>Diet Chart</button>
<ion-fab *ngIf="isAdmin()" right bottom mini>
    
    <button ion-button color="YouTube" (click)="pushaddDietchartPage()" block>Add Diet Chart</button>
    <button ion-button color="YouTube" (click)="pushupdatedietchartPage()" block>Update Diet Chart</button>
  </ion-fab>

  
  

</ion-list>

</ion-content>
