<ion-header>

  <ion-navbar color="Messenger">
    <ion-title>New Topic</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="new_forum_" (ngSubmit)="saveForum()">
    <ion-item>
      <ion-textarea type="text" placeholder="Title" formControlName="title" autosize></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Description" formControlName="content" autosize></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea type="text" placeholder="Sub Title" formControlName="sub_title_1" autosize></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Description" formControlName="sub_title_1_content" autosize></ion-textarea>
    </ion-item>
    <button ion-button type="submit" [disabled]="!new_forum_.valid">SAVE</button>
  </form>

</ion-content>