<!--
  Generated template for the DinnerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="YouTube">
    <ion-title>Dinner Meal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
      <ion-item>
    <ion-input type="text" value="" placeholder="Dinner Meal" [(ngModel)] = "dinner1" ></ion-input>
  </ion-item>


<ion-item>
    <ion-input type="text" value="" placeholder="Dinner Meal" [(ngModel)] = "dinner2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Dinner Meal" [(ngModel)] = "dinner3"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Dinner Meal" [(ngModel)] = "dinner3"></ion-input>
  </ion-item> 
  </ion-list>
</ion-content>
