<ion-header>

  <ion-navbar color="Messenger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Medicine Support</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
  <ion-list no-lines>
    <button (click)="openDetailPage(medicine)" ion-item *ngFor="let medicine of medicines">
      {{ medicine.name }}
    </button>
  </ion-list>

  <ion-fab *ngIf="isAdmin() || isDoctor()" right bottom mini>
    <button (click)="addMedicine()" ion-fab ><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>