<ion-header>

  <ion-navbar color="Messenger">
    <ion-title>{{ medicine.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div  *ngIf="!edit_form" text-wrap>
    <ion-item text-wrap>
      {{ medicine.description }}
    </ion-item>
  </div>

  <ion-fab *ngIf="!edit_form" top right edge>
    <button ion-fab mini><ion-icon name="ios-settings-outline"></ion-icon></button>
    <ion-fab-list side="bottom">
      <button (click)="editForm()" ion-fab mini><ion-icon name="ios-create-outline"></ion-icon></button>
      <button (click)="deleteMedicine(medicine._id)" ion-fab mini><ion-icon name="ios-trash-outline"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <!-- EDIT FORM -->
  <form [formGroup]="edit_medicine_" (ngSubmit)="saveMedicine(medicine._id)" *ngIf="edit_form">
    <ion-item>
      <ion-textarea type="text" placeholder="Name" [ngModel]="medicine.name" formControlName="name" text-wrap autosize></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [ngModel]="medicine.description" placeholder="Description" formControlName="description" autosize></ion-textarea>
    </ion-item>
    <button ion-button type="submit" [disabled]="!edit_medicine_.valid">SAVE</button>
  </form>

   <!-- ADD FORM -->
   <form [formGroup]="add_medicine_" (ngSubmit)="addMedicine()" *ngIf="add_form">
    <ion-item>
      <ion-textarea type="text" placeholder="Name" [ngModel]="medicine.name" formControlName="name" text-wrap autosize></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [ngModel]="medicine.description" placeholder="Description" formControlName="description" autosize></ion-textarea>
    </ion-item>
    <button ion-button type="submit" [disabled]="!add_medicine_.valid">SAVE</button>
  </form>
</ion-content>