<ion-header>
  <ion-navbar color="Messenger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Forum</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="master">
 
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card  *ngFor="let forum of forums" text-wrap>

  <ion-item color="twitter">
    <h2>{{ forum.title }}</h2>
    <p>{{ forum.created_at | date:'medium' }}</p>
  </ion-item>

  <ion-card-content>
    <ion-item text-wrap>{{ forum.content }}</ion-item>
  
    <ion-chip>
      <ion-label (click)="openDetailsPage(forum)">Read more..</ion-label>
    </ion-chip>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small color="twitter" (click)="addComment(forum)">
        <ion-icon name="text"></ion-icon>
        <div>{{ forum.comments.length}} Comments</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>

<!--
  <ion-card>

  <ion-item color="twitter">
    <h2>What is motion sickness?</h2>
    <p>April 1, 2017</p>
  </ion-item>

  <ion-card-content>
    <ion-item text-wrap>Motion sickness (travel sickness) is common, especially in children. It is caused by repeated unusual movements during travelling. These repeated movements, such as going over bumps or round in a circle, send lots of messages to your brain. Your inner ear balance mechanisms feel different signals to those that your eyes are seeing which then sends your brain mixed, confusing messages. This then causes the symptom of feeling sick (nausea). Other symptoms you may experience include sweating, drooling saliva, headaches, feeling cold and going pale.</ion-item>
    <ion-chip>
      <ion-label (click)="openDetailsPage()">Read more..</ion-label>
    </ion-chip>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small color="twitter">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>10 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="twitter">
        <ion-icon name="text"></ion-icon>
        <div>2 Comments</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>
-->

<ion-fab right bottom mini>
    <button ion-fab (click)="addForum()"><ion-icon name="add"></ion-icon></button>
</ion-fab>


</ion-content>
