<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar color="Messenger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <ion-select placeholder="User" [(ngModel)]="user">
          <ion-option *ngFor="let B of username" value="{{B.username}}">{{B.username}}</ion-option>

        </ion-select>
      </ion-col>
      <ion-col width-50> <button ion-button block (click)="setuserdetail()">Search By User Name</button> </ion-col>
    </ion-row>
  </ion-grid>




  <ion-item>
    <ion-input type="text" value="" placeholder="User Name" [(ngModel)]="UserName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Role" [(ngModel)]="Role"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Email" [(ngModel)]="Email"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col width-40> <button ion-button block (click)="UpdateUser()">Update User</button> </ion-col>
  </ion-row>
</ion-content>