<ion-header>

  <ion-navbar color="YouTube">
    <ion-title>Breakfast Meal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
     <ion-item>
    <ion-input type="text" value="" placeholder="Breakfast Meal" [(ngModel)] = "morning1" ></ion-input>
  </ion-item>
  
<ion-item>
    <ion-input type="text" value="" placeholder="Breakfast Meal" [(ngModel)] = "morning2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Breakfast Meal" [(ngModel)] = "morning3"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Breakfast Meal" [(ngModel)] = "morning4"></ion-input>
  </ion-item>


      
  </ion-list>
</ion-content>
