<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="Messenger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-input [(ngModel)]="username" type="text" placeholder="Username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="email" type="email" placeholder="user@email.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="password" type="password" placeholder=" Password"></ion-input>
    </ion-item>

    <button ion-button block (click)="regesterdata()" >Register</button>

  </ion-list>
</ion-content>