<!--
  Generated template for the DailyDietPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="YouTube">
    <ion-title>Daily Diet Chart</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <button ion-button color="YouTube" (click)="pushBreakfastPage()" block>Breakfast</button>
  <button ion-button color="YouTube" (click)="pushLunchPage()" block>Lunch</button>
  <button ion-button color="YouTube" (click)="pushDinnerPage()" block>Dinner</button>
  
  
</ion-content>
