<!--
  Generated template for the WorkoutChartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="YouTube">
    <ion-title>Workout Chart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button color="YouTube" block>Monday</button>
  <button ion-button color="YouTube" block>Tuesday</button>
  <button ion-button color="YouTube" block>Wednesday</button>
  <button ion-button color="YouTube" block>Thursday</button>
  <button ion-button color="YouTube" block>Friday</button>
  <button ion-button color="YouTube" block>Saturday</button>
  <button ion-button color="YouTube" block>Sunday</button>
</ion-content>
