<ion-header>

  <ion-navbar color="YouTube">
    <ion-title>Lunch Meak</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>


   <ion-item>
    <ion-input type="text" value="" placeholder="Lunch Meal" [(ngModel)] = "lunch1" ></ion-input>
  </ion-item>


<ion-item>
    <ion-input type="text" value="" placeholder="Lunch Meal" [(ngModel)] = "lunch2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Lunch Meal" [(ngModel)] = "lunch3"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Lunch Meal" [(ngModel)] = "lunch4"></ion-input>
  </ion-item>


  </ion-list>
</ion-content>
