<!--
  Generated template for the DietChartUpdate page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>diet-chart-update</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-content padding>



<ion-grid>
 <ion-row>
  <ion-col width-50> 
    <ion-label>BMS</ion-label>
  <ion-select placeholder="BMS" [(ngModel)]="bmsrate">
      <ion-option *ngFor="let B of BMS" value="{{B.bms}}">{{B.bms}}</ion-option>
    
    </ion-select> 
  </ion-col>
  <ion-col width-50> <button ion-button block  (click)="searchDietChart()" >Search By BMS</button> </ion-col>
</ion-row>
</ion-grid>

 <ion-item>
    <ion-input type="text" value="" placeholder="Morning Meal" [(ngModel)] = "MorningMeal1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Morning Meal" [(ngModel)] = "MorningMeal2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Morning Meal"[(ngModel)] = "MorningMeal3"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Morning Meal" [(ngModel)] ="MorningMeal4"></ion-input>
  </ion-item>



  <ion-item>
    <ion-input type="text" value="" placeholder="Lunch Meal" [(ngModel)] = "LunchMeal1"></ion-input>
  </ion-item>


<ion-item>
    <ion-input type="text" value="" placeholder="Lunch Meal" [(ngModel)] = "LunchMeal2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Lunch Meal" [(ngModel)] = "LunchMeal3"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Lunch Meal" [(ngModel)] = "LunchMeal4"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Dinner Meal" [(ngModel)] ="DinnerMeal1" ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input type="text" value="" placeholder="Dinner Meal" [(ngModel)] = "DinnerMeal2"></ion-input>
  </ion-item>


<ion-item>
    <ion-input type="text" value="" placeholder="Dinner Meal" [(ngModel)] = "DinnerMeal3"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Dinner Meal" [(ngModel)] = "DinnerMeal4"></ion-input>
  </ion-item>

<ion-grid>
 <ion-row>
 <ion-col width-40> <button ion-button block  (click)="DeleteDietChart()" >Delete Diet Chart</button> </ion-col>
  <ion-col width-40> <button ion-button block  (click)="UpdateDietChart()" >Update Diet Chart</button> </ion-col>
 </ion-row>
</ion-grid>


    

</ion-content>
