<!--
  Generated template for the Addietchart page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>addietchart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-input type="text"  placeholder="BMS" [(ngModel)] = "BMS"></ion-input>
  </ion-item>

 <ion-item>
    <ion-input type="text" value="" placeholder="Morning Meal" [(ngModel)] = "MorningMeal1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Morning Meal" [(ngModel)] = "MorningMeal2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Morning Meal"[(ngModel)] = "MorningMeal3"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Morning Meal" [(ngModel)] ="MorningMeal4"></ion-input>
  </ion-item>



  <ion-item>
    <ion-input type="text" value="" placeholder="Lunch Meal" [(ngModel)] = "LunchMeal1"></ion-input>
  </ion-item>


<ion-item>
    <ion-input type="text" value="" placeholder="Lunch Meal" [(ngModel)] = "LunchMeal2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Lunch Meal" [(ngModel)] = "LunchMeal3"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Lunch Meal" [(ngModel)] = "LunchMeal4"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Dinner Meal" [(ngModel)] ="DinnerMeal1" ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input type="text" value="" placeholder="Dinner Meal" [(ngModel)] = "DinnerMeal2"></ion-input>
  </ion-item>


<ion-item>
    <ion-input type="text" value="" placeholder="Dinner Meal" [(ngModel)] = "DinnerMeal3"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Dinner Meal" [(ngModel)] = "DinnerMeal4"></ion-input>
  </ion-item>

    <button ion-button block  (click)="addDietChart()" >Insert Chart</button>



</ion-content>
