<ion-header>

  <ion-navbar color="Messenger">
    <ion-title>Article Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="!show_edit" text-wrap>
    <ion-list-header color="twitter" text-wrap>
      {{ forum.title }}
    </ion-list-header>
    <ion-item text-wrap>
      {{ forum.content }}
    </ion-item>

    <ion-list-header color="twitter" text-wrap>
      {{ forum.sub_title_1 }}
    </ion-list-header>
    <ion-item text-wrap>
      {{ forum.sub_title_1_content }}
    </ion-item>

    <ion-list-header color="twitter" text-wrap>
      Comments
    </ion-list-header>
  </div>

  <ion-fab *ngIf="!show_edit" top right edge>
    <button ion-fab mini><ion-icon name="ios-settings-outline"></ion-icon></button>
    <ion-fab-list side="bottom">
      <button (click)="editForum(forum)" *ngIf="isAdmin() || (logged_username == forum.created_by)" ion-fab mini><ion-icon name="ios-create-outline"></ion-icon></button>
      <button (click)="deleteForum(forum._id)" *ngIf="isAdmin() || (logged_username == forum.created_by)" ion-fab mini><ion-icon name="ios-trash-outline"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab *ngIf="!show_edit" right bottom>
    <button ion-fab (click)="addComment()" mini><ion-icon name="text"></ion-icon></button>
  </ion-fab>

  <!-- Edit Forum form -->
  <form [formGroup]="edit_forum_" (ngSubmit)="saveForum(forum._id)" *ngIf="show_edit">
    <ion-item>
      <ion-textarea type="text" placeholder="Title" [ngModel]="forum.title" formControlName="title" text-wrap autosize></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [ngModel]="forum.content" placeholder="Description" formControlName="content" autosize></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea type="text" placeholder="Sub Title" [ngModel]="forum.sub_title_1" formControlName="sub_title_1" autosize></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Description" [ngModel]="forum.sub_title_1_content" formControlName="sub_title_1_content" autosize></ion-textarea>
    </ion-item>
    <button ion-button type="submit" [disabled]="!edit_forum_.valid">SAVE</button>
  </form>

  <!-- Comment Section -->
  <form [formGroup]="commet_form_" (ngSubmit)="saveComment(forum._id, forum.comments._id, forum.comments.posted_on)" *ngIf="edit_comment">
    <ion-item>
      <ion-textarea [ngModel]="forum.comments.comment_text" placeholder="Comment" formControlName="comment_text" autosize></ion-textarea>
    </ion-item>
    <button ion-button type="submit" [disabled]="!commet_form_.valid">SAVE</button>
  </form>

  <ion-list *ngIf="!show_edit">
    <ion-item-sliding  *ngFor="let comnt of forum.comments | reverse">
      <ion-item>

        <ion-card-header>
          {{ comnt.author }}
        </ion-card-header>
        <ion-card-content>
          {{ comnt.comment_text }}
        </ion-card-content>

      </ion-item>
      <ion-item-options *ngIf="isAdmin() || (logged_username == comnt.author)" side="right">
        <button ion-button (click)="deleteComment(forum._id, comnt._id, comnt)" color="danger">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>